body{
    height: 1000px;
    margin:0;
}
*{
    background-color: rgb(250, 215, 249);
}

#firstname{
    color:rgb(15, 135, 45)
}
#lastname{
    color :chocolate
}
.next-gen{
    color: blue;
}

.love-you{
    background-color: azure;
    color:rgb(255, 182, 127)
}

h1{
    color :brown;

}

p{
    color:rgb(71, 15, 135);
}

.container h2 {
    font-size: 2em;
}

.container h3{
    font-size: 1em;
}
.container h4{
    font-size: 0.5em;
}
.my-name {
    color: rgb(17, 22, 101);
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.my-box {
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: blueviolet;
    background-color: blanchedalmond;
    padding: 20px;
    margin: 32px;
    width: 60px;
    height: 50px;
}
.my-box3{
    border-style: dashed;
    border-color:blue;
    border-width:5px;
    width: 60px;
    height:90px;
    margin: 40px;
    padding: 40px;
    background-color: rgb(228, 153, 192);


}
.box{
    background-color: blue;
    margin:20px;
    position: relative;
    left:30px;
    right:20px;
}
.child-box{
    position: absolute;
    border-style: solid;
    border-width: 2px;
    right:0;
    bottom: 0;
    border-color:blue
}
.parent-box{
    position: relative;
    width: 400px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    right:0;
    bottom: 0;
    border-color:rgb(255, 0, 47)
}
.sticky{
    position:sticky;
    top: 0;
    background-color: rgb(139, 197, 192);
}